@use "../../styles/defaultValues";

// TODO add mobile responsiveness

.hero {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;

  padding-block: 10px;

  background-image: url("/assets/ilya-pavlov-unsplash-hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  color: aliceblue;

  overflow: hidden;

  position: relative;

  & a {
    text-decoration: none;
  }
}

.heroBackground {
  position: absolute;

  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: defaultValues.$transparent-background;

  z-index: 0;
}

.heroWrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;

  width: defaultValues.$width;
  height: 82vh;

  z-index: 1;

  gap: 35px;

  position: relative;

  & .backgroundChecker {
    display: flex;

    justify-content: right;
    align-items: center;

    position: absolute;
    bottom: 50px;
    right: 0;

    width: 30px;
    height: 30px;

    font-size: 15px;

    background-color: black;
    outline: 2px solid defaultValues.$accent;
    border-radius: 50%;

    overflow: hidden;

    transition: width 200ms ease-in 200ms, border-radius 200ms ease-in 250ms;

    & p:first-child {
      position: absolute;
      top: 50%;
      left: 50%;

      translate: -50% -50%;

      color: aliceblue;

      transition: translate 200ms ease-in 250ms;
    }

    & p:last-child {
      white-space: nowrap;

      padding-right: 30px;

      color: rgba(240, 248, 255, 0.5);
    }

    &:hover {
      width: 200px;

      padding: 0 0 0 10px;

      border-radius: 4px;

      transition: width 200ms ease-in 200ms, border-radius 200ms ease-in;

      & p:first-child {
        translate: 0 -100px;
        transition: translate 200ms ease-in;
      }
    }
  }

  & .col1,
  & .col2 {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: left;

    height: 100%;

    gap: 25px;
  }

  & .col2 {
    align-items: right;
  }

  & img {
    --area: 500px;

    width: var(--area);
    height: var(--area);

    object-fit: cover;

    border-radius: 50%;

    border: 3px solid transparent;
    outline: 4px solid defaultValues.$accent;

    box-shadow: 10px 10px 10px black;
  }

  & h1 {
    font-size: 28px;

    color: aliceblue;
  }

  & .name {
    display: block;
    color: black;

    font-size: 54px;

    text-shadow: 2px 0px 1px defaultValues.$accent,
      0px 2px 1px defaultValues.$accent, -2px 0px 1px defaultValues.$accent,
      0px -2px 1px defaultValues.$accent, 2px 2px 1px defaultValues.$accent,
      -2px -2px 1px defaultValues.$accent, 2px -2px 1px defaultValues.$accent,
      -2px 2px 1px defaultValues.$accent;
  }
}
