@use "../../styles/defaultValues";

.experiences {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;

  padding-block: 50px;

  color: aliceblue;
}

.experiencesWrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: defaultValues.$width;

  gap: 35px;

  & h2 {
    font-size: 44px;
  }

  & h3 {
    font-size: 24px;

    font-weight: 500;
  }
}