@use "../../styles/defaultValues";
@use "../../styles/breakpoints";

.experiences {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;

  padding-block: 50px;

  color: aliceblue;
}

.experiencesWrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: defaultValues.$width;

  position: relative;

  gap: 35px;

  & h2 {
    font-size: 44px;
  }

  & h3 {
    font-size: 24px;

    font-weight: 500;
  }
}

#mobile {
  display: none;
}

@media (max-width: breakpoints.$mobile-sm) {
  #mobile {
    display: block;
  }

  #desktop {
    display: none;
  }

  .experiencesWrapper {
    & h2 {
      font-size: 32px;
    }

    & h3 {
      padding-inline: 40px;
      text-align: center;
    }
  }
}
