@use "../../styles/defaultValues";
@use "../../styles/breakpoints";

.studyPage {
  display: flex;
  flex-direction: column;

  scroll-snap-align: start;
  overflow-y: auto;

  align-items: center;

  width: 100%;
  height: 100%;

  background-color: defaultValues.$background3;

  & .pageWrapper {
    display: flex;
    flex-direction: column;

    text-align: center;

    padding-block: 50px;

    align-items: center;
    width: 100%;
    height: auto;

    height: fit-content;

    & h4 {
      font-size: 24px;

      padding-block: 10px;
      margin-bottom: 35px;
    }

    & .cardGroup {
      display: flex;
      flex-direction: column;

      width: 100%;

      padding-inline: 50px;

      align-items: start;

      width: 100%;
    }
  }

  & a {
    text-decoration: none;
    color: aliceblue;
  }
}

#mobile {
  display: none;
}

@media (max-width: breakpoints.$mobile-sm) {
  #mobile {
    display: block;
  }

  #desktop {
    display: none;
  }

  .studyPage {
    min-width: 90vw;
    width: 90vw;

    overflow-x: hidden;

    & .pageWrapper {
      min-width: 90vw;
      width: 90vw;

      & .cardGroup {
        padding-inline: 0;
        padding-block: 0 60px;
      }
    }
  }
}
