@use "../../styles/defaultValues";
@use "../../styles/breakpoints";

.card {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 70px;

  position: relative;

  &:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  &::after {
    content: "";

    position: absolute;
    top: calc(50% - 17px);
    right: calc(50% - 17px);

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 5px solid defaultValues.$accent;
  }

  & .col1,
  & .col2 {
    width: 30%;
  }

  & .col1 {
    display: flex;
    flex-direction: column;

    gap: 15px;

    text-align: right;

    & h5 {
      font-size: 24px;
    }

    & h6 {
      font-size: 16px;
      font-weight: 600;

      color: defaultValues.$accent;
    }
  }

  &:nth-of-type(odd) .col1 {
    text-align: left;
  }

  & .col2 {
    background-color: defaultValues.$background2;
    color: black;

    padding: 15px;
    border-radius: 4px;

    & p {
      text-align: justify;
    }

    & ul {
      display: flex;
      flex-direction: column;

      gap: 5px;

      margin-top: 20px;
      list-style: none;

      & li {
        text-align: left;

        font-size: 14px;

        & a {
          color: defaultValues.$accent;
        }
      }
    }
  }
}

#mobile {
  display: none;
}

@media (max-width: breakpoints.$mobile-sm) {
  #mobile {
    display: block;
  }

  #desktop {
    display: none;
  }

  .card {
    flex-direction: column;

    padding-top: 20px;

    gap: 0;

    &::after {
      z-index: 0;

      top: 0;
    }

    & .col1,
    & .col2 {
      width: 100%;

      z-index: 1;

      text-align: left;

      background-color: defaultValues.$background2;
    }

    & .col1 {
      border-radius: 10px 10px 0 0;
      padding: 15px;

      color: black;
      gap: 5px;
    }
    & .col2 {
      border-radius: 0 0 10px 10px;
    }

    &:nth-of-type(odd) {
      flex-direction: column;
    }
  }
}
