@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900.buttonGroup buttonfamily=Roboto:ital,wght@0,100..900;1,100..900.buttonGroup buttondisplay=swap");

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: "Roboto", sans-serif;

  font-smooth: always;
}

html {
  scroll-behavior: smooth;

  overflow-x: hidden;
}

html:has(header.sidebarInvisible) {
  overflow-y: hidden;
}

abbr {
  position: relative;
}

abbr:hover::after {
  display: flex;
  content: attr(data-title);

  justify-content: center;
  align-items: center;

  gap: 5px;

  text-transform: capitalize;

  position: absolute;
  top: 100%;
  right: -100%;

  width: fit-content;

  padding: 5px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: #1c1c1c;
  color: aliceblue;
  border-radius: 4px;

  z-index: 2;
}

body {
  width: 100vw;
  overflow-x: hidden;

  background-color: #1c1c1c;
}

span.highlight {
  font-weight: 600;
  color: #853ad0;
}

span.italic {
  font-style: italic;
}

.buttonGroup {
  display: flex;

  flex-wrap: wrap;

  width: 100%;

  gap: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.salute {
  display: flex;

  align-items: center;

  height: fit-content;

  gap: 5px;
}

.salute.hidden .emoji {
  width: fit-content;

  font-size: 24px;

  transform: translateX(0px);

  opacity: 1;
}

.salute.animate .emoji {
  animation: salute 1s ease-in-out 1.5s 2;
}

.salute h3 {
  font-size: 24px;
}

.hidden {
  opacity: 0;
}

.animate {
  animation: slideInLeft 1s ease 100ms both;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-500px);
    opacity: 0;
    filter: blur(5px);
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes salute {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(70deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1024px) {
  .hidden {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .hidden {
    opacity: 0;
  }

  /* ! DEBUGGING
  .animate {
    animation: none;
  } */

  .buttonGroup {
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .buttonGroup a {
    width: 100%;
  }

  .buttonGroup button {
    width: 100%;
  }
}
