@use "../../styles/defaultValues";
@use "../../styles/breakpoints";

.projectGroup {
  display: flex;
  flex-direction: column;

  gap: 90px;

  justify-content: center;
  align-items: center;

  & a {
    text-decoration: none;
  }
}

#mobile {
  display: none;
}

@media (max-width: breakpoints.$mobile-sm) {
  #desktop {
    display: none;
  }

  #mobile {
    display: block;
  }

  .projectGroup {
    & > a {
      padding-inline: 40px;

      width: 100%;

      & > button {
        width: 100%;
      }
    }
  }
}
